@media screen and (max-width: 900px) {
       #desktop-nav {
              display: none;
       }
       
       #hamburger-nav {
              display: flex;
       }

       .experience-details-container{
              grid-template-columns: 1fr;
       }
}
